.pbl{
    box-sizing: border-box;
    height: 1100px;
}
.gpt3__pbl{
    flex: 1;
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1; */
    display: flex;
    padding: 10rem;
    /* flex-wrap: wrap; */
    /* min-height: 650px; */
    margin: auto;
    gap: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    /* justify-content: center; */
    opacity: 0.6;
    /* box-sizing: border-box; */
}

.p1{
    color: white;
    /* display: flex; */
    /* height:min-content; */
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    /* border: 1px solid lawngreen; */
    /* outline: 3px dashed white; */
    width: 100%;
    border-radius: 2rem;
    line-height: 70px;
    padding-bottom: 2rem;
    align-items: center;
}
/* .p1 :nth-child(3){margin-bottom: 20px;} */
.p1:hover{
    opacity: 0.9;
    cursor: pointer;
}
ul{
    list-style: none;
}
.l1{
    text-align: center;
    font-family: var(--font-family);
    /* color: var(--color-text); */
    color: silver;
    font-style: bolder;
    outline: none;
    text-shadow: black;
    /* border: 2px solid greenyellow; */
    display: block;
    font-size: 40px;
    line-height: normal;
}
.l2{
    display: flex;
    /* place-items: center; */
    flex: 1;
    font-size: 25px;
    opacity: 0.4;
    margin-top:auto;
    margin-bottom: auto;
    padding-top: 1rem;
        /* border: 3px dashed goldenrod; */
        text-align: center;
        vertical-align: center;
        line-height: normal;
}

.step{
    display: block;
    text-align: start;
    margin-left: 2rem;
    /* border: 1px solid goldenrod; */
    font-family: var(--font-family);
    font-size: 20px;
}



p{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 90px;
    line-height: 75px;
    letter-spacing: -0.04em;
    margin-bottom: 1rem;
    margin-left: 8rem;
    max-width: 100%;
    align-self: center;
} 

@media screen and (max-width: 1650px) {
    p{font-size: 65px;}
    .l1{    
        font-size: 30px;
        line-height: 35px;
    }
}

@media screen and (max-width: 1550px) {
    /* .gpt3__pbl{
        display: flex;
        flex-wrap: wrap;
        padding: 4rem;
        height: 50%;
    } */
    .gpt3__pbl{
        gap: 1rem;
        width: auto;
    }
    .l2{
        font-size: 22px;
        margin-top: 1rem;
    }
    .l1{
        font-size: X-large;
        line-height: 35px;
    }
    .m1{

    }
}
@media screen and (max-width: 650px){
    p{font-size: 55px;}
}
@media screen and (max-width: 550px){
    .pbl p{
        margin-bottom:0.5rem;
        /* height: 1300px; */
    }
    .gpt3__pbl{
        flex-direction: column;
        min-width:auto;
        padding: 3rem;
        /* height: 2000px; */
    }
    p{
        font-size: 36px;
        line-height: 48px;
        margin-left: 4rem;
    }
    .l11{
        margin-top: -0.2rem;
    }
    .l2
    {
        flex-wrap: wrap;
        display: block;
        width: 100%;
        padding-top: 0.1rem;
    }
    .m1 .m2{
        /* width: 100%; */
        margin-left: auto;
        margin-right: auto;
    }
    .p1 #dwld{
        height: 75%;
    }
}
