.pbl{
    /* box-sizing: border-box; */
    /* height: 1100px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}
.gpt3__pbl{
    flex: 1;
    display: flex;
    /* padding: 5rem; */
    align-items: center;
    margin-top: 4rem;
    padding-bottom: 8rem;
    gap: 0.5rem;
    padding-left: 2rem/* 32px */;
    padding-right: 2rem/* 32px */;
    opacity: 0.6;
    justify-content: flex-start;
    /* border: 2px solid goldenrod; */
}
.flexNone{
    flex: none;
}
.p1{
    color: white;
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    width: 2rem/* 288px */;
    height: 15rem;
    border-radius: 2rem;
    /* line-height: 4.38rem; 70px */
    padding-bottom: 2rem;
    /* border: 2px dashed blueviolet; */
}
.p1:hover{
    opacity: 0.9;
    cursor: pointer;
}
ul{
    list-style: none;
}
.l1{
    align-items: center;
    text-align: center;
    font-family: var(--font-family);
    /* color: var(--color-text); */
    color: silver;
    font-style: bolder;
    outline: none;
    text-shadow: black;
    /* border: 2px solid greenyellow; */
    /* display: block; */
    font-size: 1.5rem;
    line-height: 2rem;
    /* width: 75%; */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.l2{
    /* display: flex; */
    /* place-items: center; */
    flex: 1;
    font-size: 1.5rem;
    opacity: 0.4;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    line-height: 1.6rem;
    text-align: center;
}

.step{
    display: block;
    text-align: start;
    margin-left: 2rem;
    /* border: 1px solid goldenrod; */
    font-family: var(--font-family);
    font-size: 20px;
    padding-top: 1.25rem;
}
h2{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 5.625rem;
    line-height: 75px;
    letter-spacing: -0.04em;
    margin-bottom: 1rem;
    margin-left: 8rem;
    max-width: 100%;
    align-self: center;
} 

/* NEW PART */
@media (min-width: 350px) {
    .gpt3__pbl{
        padding-left: 3rem;
        padding-right: 3rem;
        overflow-x: scroll;
        margin-top: 2.5rem;
    }
    h2{
        font-size: 3rem;
        line-height: 75px;
        align-self: flex-start;
        font-weight: 500;
        line-height: 2.5rem;
        margin-left: 3rem;
    }
    .p1{
        width: 20rem;
    }
}
@media (min-width: 1280px) {
    .gpt3__pbl {
        overflow: hidden;
    }
    h2{
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 4.625rem;
        line-height: 75px;
        letter-spacing: -0.04em;
        margin-bottom: 1rem;
        margin-left: 10rem;
        max-width: 100%;
        /* align-self: flex-start; */
    } 
    .gpt3__pbl{
        padding-left: 3rem;
        padding-right: 3rem;
        overflow-x: scroll;
        margin-top: 4rem;
        align-items: center;
        justify-content: center;
    }
}

/* OLDPART */
/* @media screen and (max-width: 1650px) {
    p{font-size: 65px;}
    .l1{    
        font-size: 30px;
        line-height: 35px;
    }
}

@media screen and (max-width: 1550px) {
    .gpt3__pbl{
        display: flex;
        flex-wrap: wrap;
        padding: 4rem;
        height: 50%;
    }
    .gpt3__pbl{
        gap: 1rem;
        width: auto;
    }
    .l2{
        font-size: 1.38rem;
        margin-top: 1rem;
    }
    .l1{
        font-size: X-large;
        line-height: 2.18rem;
    }
    .m1{

    }
}
@media screen and (max-width: 650px){
    p{font-size: 55px;}
}
@media screen and (max-width: 550px){
    .pbl p{
        margin-bottom:0.5rem;
        height: 1300px;
    }
    .gpt3__pbl{
        flex-direction: column;
        min-width:auto;
        padding: 3rem;
        height: 2000px;
    }
    p{
        font-size: 36px;
        line-height: 48px;
        margin-left: 4rem;
    }
    .l11{
        margin-top: -0.2rem;
    }
    .l2
    {
        flex-wrap: wrap;
        display: block;
        width: 100%;
        padding-top: 0.1rem;
    }
    .m1 .m2{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .p1 #dwld{
        height: 75%;
    }
} */
